#header {
    background-color: #04B45F;
    color:white;
    text-align:right;
    padding: 10px;
	height:80px;
}
#nav {
    line-height:30px;
    background-color: #CEECF5;
    height:550px;
    width:100px;
    float:left;
    padding:5px;	      
}
#section {
    text-align:center;	 	 
}
#footer {
    background-color:#04B45F;
    color:white;
    clear:both;
    text-align:center;
   padding:15px;	 	 
}
#image1{
	line-height:30px;
	height:152px;
    width:299px;
    float:right;
    padding:5px;
}
#image2{
	line-height:30px;
	height:75px;
    float:left;
    padding:5px;
}
#img1{
    float:left;
}
#txt{
	font-family: "Times New Roman", Times, serif;
	 font-size: 30px;
}

#one {

   border-spacing:10px;
}

#cellone {
	background-color: #CC9999; color: black;
}
#celltwo {
	background-color: #9999CC; color: black;
}

.tftextinput{
		margin: 0;
		padding: 5px 15px;
		font-family: Arial, Helvetica, sans-serif;
		font-size:14px;
		border:1px solid #0076a3; border-right:0px;
		border-top-left-radius: 5px 5px;
		border-bottom-left-radius: 5px 5px;
	}
	.tfbutton {
		margin: 0;
		padding: 3px 3px;
		font-family: Arial, Helvetica, sans-serif;
		font-size:14px;
		outline: none;
		cursor: pointer;
		text-align: center;
		text-decoration: none;
		color: #ffffff;
		border: solid 1px #0076a3; border-right:0px;
		background: #0095cd;
		background: -webkit-gradient(linear, left top, left bottom, from(#00adee), to(#0078a5));
		background: -moz-linear-gradient(top,  #00adee,  #0078a5);
		border-top-right-radius: 5px 5px;
		border-bottom-right-radius: 5px 5px;
	}
	.tfbutton:hover {
		text-decoration: none;
		background: #007ead;
		background: -webkit-gradient(linear, left top, left bottom, from(#0095cc), to(#00678e));
		background: -moz-linear-gradient(top,  #0095cc,  #00678e);
	}
	/* Fixes submit button height problem in Firefox */
	.tfbutton::-moz-focus-inner {
	  border: 0;
	}
	.tfclear{
		clear:both;
	}

#feedDiv{ }
#feedDiv:nth-child(even) {background: #92D2F0}
#feedDiv:nth-child(odd) {background: #C6F3F5}
